.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

html,body{
    margin: 0;
    background-color: #f3feff;
    font: 100% "Zen Maru Gothic", sans-serif;
}
p{
  color: #555;
  margin: 0;
}
hr{
  margin: auto 20px;
  border: none;
  border-top: 2px solid #c7e2e0;
}

header{
    padding: 10px;
    height: 60px;
    position: fixed;
    display: flex;
    background-color: #ffffffaa;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
header h1{
    line-height: 60px;
    margin: 0 0 0 10px;
}
header img{
    height: 60px;
    margin: 0;
    border-radius: 10px;
}

.top{
  height: 90vh;
  background-image: url(./topimg.png);
  background-position: center;
  background-color: #ffffffaa;
  background-blend-mode: overlay;
}
.topofbox{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.cachecopy{
    width: 11em;
    animation: typing 2s steps(11), effect .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color: #333;
  }
   
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes effect {
    50% {
      border-color: transparent
    }
  }
  
.about{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}
.about img{
  width: 500px;
  margin: 10px;
  border-radius: 10px;
}
.about div{
  margin: 10px;
}

.status{
  margin: 10px;
  text-align: center;
}
.status h2{
  text-align: center;
}
#status_online{
  text-align: center;
  font-size: 2em;
}
table{
  width: fit-content;
  margin: 0 auto;
}


.howtojoin{
  margin: 10px 10px 30px 10px;
}
.howtojoin h3{
  text-align: center;
  font-size: 2em;
}
.sakura-bot{
  display: inline-block;
  color: #fff;
  background-color: #4d5ef5;
  border-radius: 0.4em;
  padding: 0 0.2em;
  text-decoration: none;
}
.sakura-bot:hover{
  background-color: #717efc;
}

.joinstap{
  width: calc(100% -30px);
  margin: 0 15px;
}
.joinhead{
  display: flex;
}
.joinstapnum{
  width: 1em;
  height:1em;
  line-height:1em;
  padding: 10px;
  background-color: #afe2e2;
  border-radius: 50%;
  z-index: 0;
}
.joinstap h4{
  margin: 2px 0 2px 10px;
  font-size: 1.25em;
}
.joins{
  margin: 10px 10px 0 50px;
}
.joinstap_a{
  display: block;
  text-decoration: none;
  background: linear-gradient(90deg ,#befafa ,#7effff);
  color: #000;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  width: calc(100% - 40px);
  max-width: 600px;
  border-radius: 10px;
}
.joinaddress{
  border-left: #aaa solid 2px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 1.5em;
}
.joinstap_a:hover{
  background: linear-gradient(90deg ,#d4ffff ,#99ffff);
}
.joins img{
  width: calc(100% - 20px);
  max-width: 500px;
  border-radius: 10px;
  margin: 15px 0;
}
.joins h5{
  font-size: 1.2em;
  background: linear-gradient(90deg ,#99ffff ,#befafa);
  padding: 10px;
  border-radius: 10px;
}


.adminer{
  margin: 10px;
}
.adminer h3{
  text-align: center;
  font-size: 2em;
}
#adminersview{
  border: none;
  width: 100%;
  padding: 10px 0;
  background: none;
  font: inherit;
}
#adminersview:hover{
  background-color: #ffffffaa;
}
.adminers{
  display: flex;
  flex-wrap: wrap;
}
.adminers_card{
  width: 450px;
  max-width: calc(100% - 20px);
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg ,#d1ffff ,#b0fcfc);
  display: flex;
  flex-grow: 1;
  margin: 10px;
}
.adminers_card img{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.adminers_card h4{
  font-size: 1.25em;
}
.adminers_card h4 span{
  font-size: 0.7em;
  color: #555;
}
.adminers_card div div p{
  background-color: #ddd;
  padding: 0.1em 0.25em;
  border-radius: 5px;
  display: inline;
}

.onlinetime h3 ,.event_ca h3{
  text-align: center;
  margin: 30px 0;
  font-size: 1.5em;
}

.onlinetime div{
  margin: 10px;
  text-align: center;
}
.onlinetime table{
  border-collapse: collapse;
  border: #fff solid 1px;
  width: 60%;
}
.onlinetime tr,.onlinetime th{
  border: 1px solid #fff;
}
.onlinetime th{
  padding: 5px;
  background-color: #b3f0e8;
}
.onlinetime td{
  background-color: #e8f9fa;
}

.event_ca div{
  height: 90vh;
  width: calc(100% - 20px);
  margin: 10px;
}

footer{
    margin: 0 10px;
    border-top: #ddd solid 2px;
    text-align: center;
}

footer ul{
  list-style: none;
}
footer a{
  color: #888;
  text-decoration: none;
}
.footer-links{
  text-align: left;
}
footer a:hover{
  color: #ccc;
}
.footer-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
footer img{
  height: 50px;
}

@media screen and (max-width: 850px) {
  .about{
    display: block;
  }
  .about img{
    width: calc(100% - 20px);
  }
  .cachecopy{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 500px) {
  .adminers_card{
    display: block;
  }
  .adminers_card div{
    width: fit-content;
    margin: 0 auto 10px auto;
  }
  .adminers_card img{
    margin: 0 calc(50% - 150px);
  }

  .onlinetime table{
    width: 100%;
  };
}

@media screen and (max-width: 500px) {
  .footer-box{
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .about{
    width: 80%;
    margin: auto;
  }
  .howtojoin{
    width: 60%;
    margin: auto auto 30px auto;
  }
}

h2 {
  text-align: center;
}
